.header {
  display: flex;
}
.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.navbar ul {
  list-style: none;
}
.content {
  display: flex;
  flex-direction: column;
}
.footer {
  display: flex;
  flex-direction: row;
}
